body{
    text-align: center;
}
button{
    color: white;
    background: #ff4346;
    border: 1px solid #ff4346;
    padding: 5px;
}

button:hover{
    color: #ff4346;
    background: white;
}

.title{
    text-align: center;
}
